<body>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mt-5" src="../../../assets/section2.png" alt="">
            </div>
            <div class="col-md-7 text">
                <p class="">Janurary 2010</p>
                <h3 class="name mb-3">Amara Lopez</h3>
                <p class="lead mb-3">Tortor aliquam nulla facilisi cras fermentum odio eu feugiat. Quam elementum pulvinar etiam non quam lacus suspendisse. Nunc sed velit dignissim sodales ut eu sem. Pretium quam vulputate dignissim suspendisse in est ante in nibh.</p>
                <button class="btn-orange mt-3">View case study</button>
            </div>
        </div>
    </div>
</body>

