<body>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-7 text">
                <p>September 2021</p>
                <h3 class="name mb-3">Priya Patel</h3>
                <p class="lead mb-3">Et malesuada fames ac turpis egestas maecenas pharetra convallis. Aenean vel elit scelerisque mauris. Gravida neque convallis a cras semper auctor neque vitae. Habitasse platea dictumst quisque sagittis. Gravida neque convallis a cras semper.</p>
                <button class="btn-orange mt-3">View case study</button>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mt-5" src="../../../assets/section3.png" alt="">
            </div>
        </div>
    </div>
</body>
