body {
    background-image: linear-gradient(to right,  #323E2A, #101815);  
}

.container {
    padding: 80px 20px;
}

.text {
    padding: 0px 100px;
}

@media (max-width: 485px) {
    .text p{
        font-size: 17px;
    }

    .text{
        padding: 5px;
    }

    .btn-orange{
        font-size: 15px;
    }
}