<body>
    <div class="container">
        <h2 class="title">Our Work</h2>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../../assets/img1.png" alt="">
            </div>
            <div class="col-md-4">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../../assets/Column.png" alt="">
            </div>
            <div class="col-md-4">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../../assets/Column (1).png" alt="">
            </div>
            <div class="col-md-12 d-flex justify-content-end">
                <button class="btn-orange">View all work</button>
            </div>
        </div>
    </div>
    
    
</body>
