<body>
    <nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/Logologo.png" alt="Logo" width="42" height="17.5" class="logo d-inline-block align-text-top">
            Capture Studio
          </a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon custom-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-right" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
          <button class="btn-orange">Contact</button>
         </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container hero">
    <div class="row d-flex justify-content-center align-items-center">
    <div class="section1 col-md-7 mb-3">
        <h1 class="title">We Capture the World</h1>
        <p class="lead mb-5 content">At our studio, we don't just take pictures - we capture the world. Our passion for photography goes beyond just snapping a photo - we strive to create images that tell a story, evoke emotions, and capture the essence of the world around us.</p>
        <button class="btn-redondo">▶</button>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../../assets/Columnimg1.png" alt="">
    </div>
  </div>
  </div>
  </body>
