<body>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-7 text">
                <p class="">March 2022</p>
                <h3 class="name mb-3">Gabriela Silva</h3>
                <p class="lead mb-3">Cras semper auctor neque vitae tempus. Neque volutpat ac tincidunt vitae. Eros donec ac odio tempor orci dapibus ultrices. Eget mauris pharetra et ultrices neque ornare. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Nunc id cursus metus aliquam eleifend mi.</p>
                <button class="btn-orange mt-3">View case study</button>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mt-5" src="../../../assets/section1.png" alt="">
            </div>
        </div>
    </div>
</body>

